<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-3 text-center">Sign in</h1>

        <%= form_with url: session_path, class: "vstack gap-3" do |f| %>
          <div>
            <%= f.label :email_address, class: "form-label" %>
            <%= f.email_field :email_address, class: "form-control", autofocus: true %>
          </div>

          <div>
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.submit "Sign in", class: "btn btn-primary w-100" %>
        <% end %>
        <br>
        <%= link_to "Forgot password?", new_password_path %>
      </div>
    </div>
  </div>
</div>