<div id="<%= dom_id invoice %>">
  <div>
    <strong>Project:</strong>
    <%= invoice.project_id %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= invoice.status %>
  </div>

  <div>
    <strong>Issued at:</strong>
    <%= invoice.issued_at %>
  </div>

</div>
