<div id="<%= dom_id project %>">
  <div>
    <strong>Title:</strong>
    <%= project.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= project.description %>
  </div>

  <div>
    <strong>Budget:</strong>
    <%= project.budget %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= project.status %>
  </div>

  <div>
    <strong>Client:</strong>
    <%= project.client_id %>
  </div>

</div>
