<div id="<%= dom_id proposal %>">
  <div>
    <strong>Project:</strong>
    <%= proposal.project_id %>
  </div>

  <div>
    <strong>Freelancer:</strong>
    <%= proposal.freelancer_id %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= proposal.message %>
  </div>

  <div>
    <strong>Bid amount:</strong>
    <%= proposal.bid_amount %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= proposal.status %>
  </div>

</div>
