<div id="<%= dom_id portfolio_item %>">
  <div>
    <strong>Freelancer:</strong>
    <%= portfolio_item.freelancer_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= portfolio_item.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= portfolio_item.description %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= portfolio_item.url %>
  </div>

</div>
