<div id="<%= dom_id review %>">
  <div>
    <strong>Project:</strong>
    <%= review.project_id %>
  </div>

  <div>
    <strong>Reviewer:</strong>
    <%= review.reviewer_id %>
  </div>

  <div>
    <strong>Reviewee:</strong>
    <%= review.reviewee_id %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= review.rating %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= review.comment %>
  </div>

</div>
